lab7/flows.json
[
    {
        "id": "182335e2.99f052",
        "type": "tab",
        "label": "MongoDB Operations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3473d672.55b542",
        "type": "tab",
        "label": "REST Service Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a712887f.cb747",
        "type": "tab",
        "label": "REST Service Call Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd0f986b.1c9ad8",
        "type": "tab",
        "label": "HTTP Web Page Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7abefd83.704014",
        "type": "tab",
        "label": "HTTP Query Parameters",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b01be559.76e07",
        "type": "tab",
        "label": "HTTP URL Parameters",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d1359bb.bef6a8",
        "type": "tab",
        "label": "HTTP Respone JSON 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f23ec8d3.c89a3",
        "type": "tab",
        "label": "HTTP Respone JSON 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d8b85ac.6515ec",
        "type": "mongodb",
        "z": "",
        "hostname": "r4a-nodered-mongo",
        "port": "27017",
        "db": "test",
        "name": ""
    },
    {
        "id": "31b3677b.1bd298",
        "type": "mongodb in",
        "z": "182335e2.99f052",
        "mongodb": "5d8b85ac.6515ec",
        "name": "",
        "collection": "user",
        "operation": "find",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "54bc4ed4.74989"
            ]
        ]
    },
    {
        "id": "44b760c5.425738",
        "type": "inject",
        "z": "182335e2.99f052",
        "name": "Get Users",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "31b3677b.1bd298"
            ]
        ]
    },
    {
        "id": "54bc4ed4.74989",
        "type": "debug",
        "z": "182335e2.99f052",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "76cf13ba.9ea70c",
        "type": "mongodb out",
        "z": "182335e2.99f052",
        "mongodb": "5d8b85ac.6515ec",
        "name": "",
        "collection": "user",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "a74548db.609f08",
        "type": "inject",
        "z": "182335e2.99f052",
        "name": "Add New User",
        "topic": "",
        "payload": "{\"name\":\"Maria\",\"email\":\"maria@test.gr\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "76cf13ba.9ea70c"
            ]
        ]
    },
    {
        "id": "58f70756.962f68",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get User",
        "url": "/user/:name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "ceaf957.83f35e8"
            ]
        ]
    },
    {
        "id": "5c0747b8.861fa8",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "a05f4f0c.92dbd8",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "URL Parameter Example",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "aac36804.9a4a68",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ResponseHeaders",
        "func": "msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "5c0747b8.861fa8",
                "857a4652.c36f"
            ]
        ]
    },
    {
        "id": "857a4652.c36f",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceResponse",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "ceaf957.83f35e8",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ExtractURLParams",
        "func": "msg.payload = msg.req.params;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "ffcd9ed6.e38de8",
                "36c84f81.7e3fc"
            ]
        ]
    },
    {
        "id": "36c84f81.7e3fc",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "ffcd9ed6.e38de8",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ServiceLogic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "aac36804.9a4a68"
            ]
        ]
    },
    {
        "id": "dff99975.04bb2",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get Users",
        "url": "/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "1b06885a.3b3838"
            ]
        ]
    },
    {
        "id": "534707e1.64d798",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b06885a.3b3838",
        "type": "mongodb in",
        "z": "3473d672.55b542",
        "mongodb": "5d8b85ac.6515ec",
        "name": "",
        "collection": "user",
        "operation": "find",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "89cc27b8.8fefc",
                "11f5b75d.4ab621"
            ]
        ]
    },
    {
        "id": "89cc27b8.8fefc",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "de1bd6e9.3874c",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get Book",
        "url": "/book",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "f4792e86.f66fd"
            ]
        ]
    },
    {
        "id": "334fa18a.5467ae",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1075,
        "y": 740,
        "wires": []
    },
    {
        "id": "c00a2ca9.e4828",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceCall",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "496dd2c6.f72294",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "Query Parameter Example",
        "info": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "dd377a02.de5eb",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ResponseHeaders",
        "func": "msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875,
        "y": 740,
        "wires": [
            [
                "334fa18a.5467ae",
                "edd9ffce.90849"
            ]
        ]
    },
    {
        "id": "edd9ffce.90849",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceResponse",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1115,
        "y": 840,
        "wires": []
    },
    {
        "id": "f4792e86.f66fd",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ExtractQueryParams",
        "func": "msg.payload = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 740,
        "wires": [
            [
                "ceac61b6.99aa4",
                "c00a2ca9.e4828"
            ]
        ]
    },
    {
        "id": "ceac61b6.99aa4",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ServiceLogic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "dd377a02.de5eb"
            ]
        ]
    },
    {
        "id": "11f5b75d.4ab621",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "CreateResponsePayload",
        "func": "response = {\n    users: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 140,
        "wires": [
            [
                "534707e1.64d798"
            ]
        ]
    },
    {
        "id": "b8054826.889c5",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/user/:name",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "e426e3e4.d63648",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/book",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "91bda822.ff4f68",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/user",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c39a530.07616a",
        "type": "http request",
        "z": "a712887f.cb747",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://r4a-platform.ddns.net:8443/nodered/user/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "d86d6c8d.0e4ef8"
            ]
        ]
    },
    {
        "id": "a1795717.d9584",
        "type": "inject",
        "z": "a712887f.cb747",
        "name": "GetUsers",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "3c39a530.07616a"
            ]
        ]
    },
    {
        "id": "d86d6c8d.0e4ef8",
        "type": "debug",
        "z": "a712887f.cb747",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "c7755525.5cf9d8",
        "type": "comment",
        "z": "182335e2.99f052",
        "name": "Create User Account",
        "info": "",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "20dcefae.d28538",
        "type": "comment",
        "z": "182335e2.99f052",
        "name": "{\"name\":\"Maria\",\"email\":\"maria@test.gr\"}",
        "info": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "12a90658.be8cd2",
        "type": "http in",
        "z": "fd0f986b.1c9ad8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "2ad1692b.c16bc6"
            ]
        ]
    },
    {
        "id": "2ad1692b.c16bc6",
        "type": "template",
        "z": "fd0f986b.1c9ad8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "c4d399ee.79b52"
            ]
        ]
    },
    {
        "id": "c4d399ee.79b52",
        "type": "http response",
        "z": "fd0f986b.1c9ad8",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "c70b9bb8.32a5d8",
        "type": "comment",
        "z": "fd0f986b.1c9ad8",
        "name": "https://r4a-platform.ddns.net:8443/nodered/hello",
        "info": "",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "df0732dc.667ce8",
        "type": "template",
        "z": "7abefd83.704014",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "5425f847.960a"
            ]
        ]
    },
    {
        "id": "dec142cc.796bf",
        "type": "http in",
        "z": "7abefd83.704014",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "df0732dc.667ce8"
            ]
        ]
    },
    {
        "id": "5425f847.960a",
        "type": "http response",
        "z": "7abefd83.704014",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4ad8475.9409e8",
        "type": "comment",
        "z": "7abefd83.704014",
        "name": "https://r4a-platform.ddns.net:8443/nodered/hello-query?name=klpanagi",
        "info": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "54d9d503.55cfac",
        "type": "http response",
        "z": "b01be559.76e07",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b19427.8fa0a3c",
        "type": "template",
        "z": "b01be559.76e07",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n        <h1>Book ID {{req.params.bid}}!</h1>\n    </body>\n</html>",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "54d9d503.55cfac"
            ]
        ]
    },
    {
        "id": "32df3642.1e3c2a",
        "type": "http in",
        "z": "b01be559.76e07",
        "name": "",
        "url": "/hello-param/:name/book/:bid",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "5b19427.8fa0a3c"
            ]
        ]
    },
    {
        "id": "fb2c79a7.71b2e",
        "type": "comment",
        "z": "b01be559.76e07",
        "name": "https://r4a-platform.ddns.net:8443/nodered/hello-param/klpanagi",
        "info": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "69585bdc.4d1b14",
        "type": "http in",
        "z": "4d1359bb.bef6a8",
        "name": "",
        "url": "/json-response",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 422,
        "y": 260,
        "wires": [
            [
                "dcc0ed8.f620c1"
            ]
        ]
    },
    {
        "id": "dcc0ed8.f620c1",
        "type": "template",
        "z": "4d1359bb.bef6a8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"a\": 1,\n    \"b\": \"test\",\n    \"c\": [1, 2, 3],\n    \"d\": {\n        \"d_1\": 0\n    }\n}",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "b67a27cf.ccf77"
            ]
        ]
    },
    {
        "id": "b67a27cf.ccf77",
        "type": "change",
        "z": "4d1359bb.bef6a8",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "66c8494a.bf4758"
            ]
        ]
    },
    {
        "id": "66c8494a.bf4758",
        "type": "http response",
        "z": "4d1359bb.bef6a8",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "1aef5ab3.4c05d5",
        "type": "comment",
        "z": "4d1359bb.bef6a8",
        "name": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "info": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "34b9e96.e7dfa16",
        "type": "inject",
        "z": "4d1359bb.bef6a8",
        "name": "Call HTTP Endpoint",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "7010f616.37e598"
            ]
        ]
    },
    {
        "id": "4d053d27.97013c",
        "type": "debug",
        "z": "4d1359bb.bef6a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "7010f616.37e598",
        "type": "http request",
        "z": "4d1359bb.bef6a8",
        "name": "[GET] /json-response",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "4d053d27.97013c"
            ]
        ]
    },
    {
        "id": "825c40e2.f09fe8",
        "type": "http in",
        "z": "f23ec8d3.c89a3",
        "name": "",
        "url": "/json-response",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "36d1781f.cd8a88"
            ]
        ]
    },
    {
        "id": "36d1781f.cd8a88",
        "type": "template",
        "z": "f23ec8d3.c89a3",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"a\": 1,\n    \"b\": \"test\",\n    \"c\": [1, 2, 3],\n    \"d\": {\n        \"d_1\": 0\n    }\n}",
        "x": 698,
        "y": 300,
        "wires": [
            [
                "1d5cc6a4.b33b21"
            ]
        ]
    },
    {
        "id": "1d5cc6a4.b33b21",
        "type": "http response",
        "z": "f23ec8d3.c89a3",
        "name": "response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "312428a.3ae5858",
        "type": "comment",
        "z": "f23ec8d3.c89a3",
        "name": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "info": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "998e67c5.bd95a8",
        "type": "inject",
        "z": "f23ec8d3.c89a3",
        "name": "Call HTTP Endpoint",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "x": 438,
        "y": 400,
        "wires": [
            [
                "9e96a120.8433d8"
            ]
        ]
    },
    {
        "id": "5e6c90da.bf4fd",
        "type": "debug",
        "z": "f23ec8d3.c89a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 898,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e96a120.8433d8",
        "type": "http request",
        "z": "f23ec8d3.c89a3",
        "name": "[GET] /json-response",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 688,
        "y": 400,
        "wires": [
            [
                "5e6c90da.bf4fd"
            ]
        ]
    },
    {
        "id": "2e39d011.32969",
        "type": "http in",
        "z": "7abefd83.704014",
        "name": "",
        "url": "/test-hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "4338c6e0.4587c8"
            ]
        ]
    },
    {
        "id": "4338c6e0.4587c8",
        "type": "template",
        "z": "7abefd83.704014",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n        <h1>surname {{req.query.surname}}!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "9ea29fe9.c6f118"
            ]
        ]
    },
    {
        "id": "9ea29fe9.c6f118",
        "type": "http response",
        "z": "7abefd83.704014",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "19498089.61dfb7",
        "type": "http request",
        "z": "3473d672.55b542",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://r4a-platform.ddns.net:8443/nodered/user/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "24cb87a8.1841a"
            ]
        ]
    },
    {
        "id": "24cb87a8.1841a",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "53f896a7.aa9f8",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "Get all Users Client Example",
        "info": "",
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "6a30974a.fbbb7",
        "type": "inject",
        "z": "3473d672.55b542",
        "name": "GetUsers",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "19498089.61dfb7"
            ]
        ]
    }
]